<h1>New Booking</h1>
<%= form_with model: @booking, local: true do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>
  <div>
    <%= form.submit 'Book Time' %>
  </div>
<% end %>

