<div class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 welcome-text ">
          <h1 class="display-4">Welcome to BookAPhoto,</h1>
          <p class="sub-text">Where booking is made easy!</p>
          <div class="d-flex gap-3">
            <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-custom d-flex justify-content-center">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Features Section -->
  
  <div class="features-section">
    <div class="container">
    <div class="row g-4">
    <h1 class="feature-heading">Features</h1>
        <div class="col-md-4">
          <div class="card feature-card">
            <div class="card-body text-center">
              <div class="feature-icon">📸</div>
              <h5 class="card-title mb-3">Variety</h5>
              <p class="card-text">Choose from a diverse selection of photographers all in one place.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card feature-card">
            <div class="card-body text-center">
              <div class="feature-icon">⏱️</div>
              <h5 class="card-title mb-3">Efficiency</h5>
              <p class="card-text">Quick and easy booking process to save you time and hassle.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card feature-card">
            <div class="card-body text-center">
              <div class="feature-icon">🌟</div>
              <h5 class="card-title mb-3">Quality</h5>
              <p class="card-text">Access to top-rated professionals and high-quality services for every booking.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

